html, body
  height: 100%
  margin: 0
  padding: 0

#map_canvas
  width: 100%
  height: 100%

.translucent
  opacity: 0.7

.top-right-corner
  position: absolute
  right: 150px

.title-box
  width: 600px
  height: 80px
  background:
    color: #fff
  z-index: 1000
  padding: 0 20px
  border: solid 2px #000
  top: -2px

.title-text
  width: 600px
  height: 80px
  z-index: 1000
  font-family: "Open Sans", sans-serif
  font-size: 17px
  display: block
  margin-left: auto
  margin-right: auto
