html, body
  font-family: "Open Sans", sans-serif
  height: 100%
  margin: 0
  padding: 0

#map_canvas
  width: 100%
  height: 100%

.translucent
  opacity: 0.7

.top-right-corner
  position: absolute
  right: 150px
  top: -2px

.title-box
  width: 750px
  height: 80px
  background:
    color: #fff
  z-index: 1000
  padding: 0 20px
  border: solid 2px #000

.title-box.mobile
  width: 100%

.title-text
  width: 750px
  height: 80px
  z-index: 1000
  font-size: 16px
  line-height: 28px

.title-text.mobile
  font-size: 21px
  width: 90%
  margin-left: auto
  margin-right: auto

.bottom
  position: absolute
  bottom: -2px
  right: -2px

.status-box
  z-index: 1000
  position: absolute
  background-color: #9f9
  top: 150px
  left: 200px
  right: 200px
  border: 3px solid #000
  font-size: 20px

.status-box.desktop
  right: auto
  left: 20%
  bottom: 10%
  width: 600px
  top: 70%

.status-box div.left
  float: left

div.clear
  clear: both

.status-box div dl dt
  font-weight: bold

.desktop-status-box

.side-padding-10
  margin: 0 10px
